In [1]:
import pandas as pd

strings = input()
strings = strings.split(' ')
strings = pd.Series(strings)
strings.name = 'Text'

upper = strings.str.upper()
upper.name = 'Upper Case'
print(upper)

lower = strings.str.lower()
lower.name ='Lower Case'
print(lower)

length = strings.str.len()
length.name = 'Length'
print(length)

DF = pd.concat([strings, upper, lower, length], axis = 1)
print(DF)

 Lorem ipsum dolor sit amet. Aut rerum eaque est quisquam deleniti cum quia consequuntur et saepe dolor et galisum voluptas aut harum galisum ex sequi voluptatibus. Sed rerum voluptas est quia consequatur vel nihil architecto galisum iure aut sint explicabo. Ea mollitia amet aut exercitationem internos sed dolorem quaerat id earum suscipit. Et mollitia repudiandae in omnis totam id ratione voluptatem ex dolores delectus nam commodi provident.

0          LOREM
1          IPSUM
2          DOLOR
3            SIT
4          AMET.
         ...
62       DOLORES
63      DELECTUS
64           NAM
65       COMMODI
66    PROVIDENT.
Name: Upper Case, Length: 67, dtype: object
0          lorem
1          ipsum
2          dolor
3            sit
4          amet.
         ...
62       dolores
63      delectus
64           nam
65       commodi
66    provident.
Name: Lower Case, Length: 67, dtype: object
0      5
1      5
2      5
3      3
4      5
      ..
62     7
63     8
64     3
65     7
66    10
Name: Length, Length: 67, dtype: int64
          Text  Upper Case  Lower Case  Length
0        Lorem       LOREM       lorem       5
1        ipsum       IPSUM       ipsum       5
2        dolor       DOLOR       dolor       5
3          sit         SIT         sit       3
4        amet.       AMET.       amet.       5
..         ...         ...         ...     ...
62     dolores     DOLORES     dolores       7
63    delectus    DELECTUS    delectus       8
64         nam         NAM         nam       3
65     commodi     COMMODI     commodi       7
66  provident.  PROVIDENT.  provident.      10

[67 rows x 4 columns]

In [2]:
string

NameError: name 'string' is not defined

In [3]:
strings

0          Lorem
1          ipsum
2          dolor
3            sit
4          amet.
         ...
62       dolores
63      delectus
64           nam
65       commodi
66    provident.
Name: Text, Length: 67, dtype: object

In [5]:
lower

0          lorem
1          ipsum
2          dolor
3            sit
4          amet.
         ...
62       dolores
63      delectus
64           nam
65       commodi
66    provident.
Name: Lower Case, Length: 67, dtype: object

In [6]:
DF

          Text  Upper Case  Lower Case  Length
0        Lorem       LOREM       lorem       5
1        ipsum       IPSUM       ipsum       5
2        dolor       DOLOR       dolor       5
3          sit         SIT         sit       3
4        amet.       AMET.       amet.       5
..         ...         ...         ...     ...
62     dolores     DOLORES     dolores       7
63    delectus    DELECTUS    delectus       8
64         nam         NAM         nam       3
65     commodi     COMMODI     commodi       7
66  provident.  PROVIDENT.  provident.      10

[67 rows x 4 columns]