In [1]:
import pandas as pd

In [2]:
olympic_data_list = {'London': {2012: 205}, 'Beijing': {2008: 204}}

In [4]:
df_olympic_data_list = pd.DataFrame(olympic_data_list)
df_olympic_data_list

      London  Beijing
2012   205.0      NaN
2008     NaN    204.0

In [5]:
data = {'regno': ['21BDS0340', '21BDS0341'], 'studname': ['abc', 'def'], 'cgpa': [8.5, 9.2]}
DF1 = pd.DataFrame(data)
DF1

       regno studname  cgpa
0  21BDS0340      abc   8.5
1  21BDS0341      def   9.2

In [7]:
DF2 = pd.DataFrame({'regno': ['21BDS0342', '21BDS0343'], 'studname': ['ghi', 'jkl'], 'cgpa': [5.6, 10]})
DF2

       regno studname  cgpa
0  21BDS0342      ghi   5.6
1  21BDS0343      jkl  10.0

In [9]:
pd.concat([DF1, DF2])

       regno studname  cgpa
0  21BDS0340      abc   8.5
1  21BDS0341      def   9.2
0  21BDS0342      ghi   5.6
1  21BDS0343      jkl  10.0